<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>Registration.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CareerServlet</servlet-name>
        <servlet-class>Career.CareerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Registration.LoginServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>Registration.SignupServletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>ModifyPswd.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>smail</servlet-name>
        <servlet-class>Registration.smailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>Registration.VerifyCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPass</servlet-name>
        <servlet-class>CheckOP.CheckPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPassword</servlet-name>
        <servlet-class>ModifyPswd.ModifyPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTP</servlet-name>
        <servlet-class>Registration.VerifyOTPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClient</servlet-name>
        <servlet-class>AdminSide.DeleteClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCareers</servlet-name>
        <servlet-class>AdminSide.DeleteCareers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDelivery</servlet-name>
        <servlet-class>AdminSide.DeleteDelivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDelivery</servlet-name>
        <servlet-class>AdminSide.UpdateDelivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceBoy</servlet-name>
        <servlet-class>AdminSide.AddServiceBoy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReview</servlet-name>
        <servlet-class>Review.SubmitReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReview</servlet-name>
        <servlet-class>Review.AddReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceController</servlet-name>
        <servlet-class>Fuel.PriceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CareerServlet</servlet-name>
        <url-pattern>/CareerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>smail</servlet-name>
        <url-pattern>/smail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPass</servlet-name>
        <url-pattern>/CheckPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPassword</servlet-name>
        <url-pattern>/ModifyPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTP</servlet-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClient</servlet-name>
        <url-pattern>/DeleteClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCareers</servlet-name>
        <url-pattern>/DeleteCareers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDelivery</servlet-name>
        <url-pattern>/DeleteDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDelivery</servlet-name>
        <url-pattern>/UpdateDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceBoy</servlet-name>
        <url-pattern>/AddServiceBoy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReview</servlet-name>
        <url-pattern>/SubmitReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReview</servlet-name>
        <url-pattern>/AddReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceController</servlet-name>
        <url-pattern>/PriceController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
